.card-margin {
    margin-bottom: 30px;
}

b, strong {
    color: #E9CC7C !important;
}

.filter-button {
    background-color: #E9CC7C !important;
    border: none !important;
    color: black !important;
}

.education_area_filter .taipy-selector {
    width: 100% !important;
}

.taipy-watermark {
    color: #E9CC7C !important;
}

.taipy-selector:focus-within,
.taipy-selector .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #E9CC7C !important; 
    box-shadow: 0 0 0 1px #E9CC7C !important; 
}

.taipy-selector .MuiSvgIcon-root {
    color: #E9CC7C !important; 
}

.taipy-selector .MuiChip-root {
    background-color: #E9CC7C !important; 
    color: #000 !important; 
}

.MuiMenuItem-root:hover {
    background-color: rgba(233, 204, 124, 0.1) !important;
}

.MuiMenuItem-root.Mui-selected {
    background-color: rgba(233, 204, 124, 0.2) !important; 
}

.taipy-selector .MuiFormLabel-root.Mui-focused {
    color: #E9CC7C !important; 
}

.taipy-toggle .MuiSwitch-switchBase.Mui-checked {
    color: #E9CC7C !important; 
}
.taipy-toggle .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    background-color: #E9CC7C !important; 
}
.taipy-toggle .MuiSwitch-track {
    background-color: #ccc !important; 
}

.taipy-menu .Mui-selected,
.taipy-menu .MuiListItem-root.Mui-selected,
.taipy-menu .MuiListItem-root.Mui-selected:hover {
    background-color: rgba(233, 204, 124, 0.2) !important;
    color: #E9CC7C !important; 
}

.taipy-menu .MuiListItem-root:hover {
    background-color: rgba(233, 204, 124, 0.1) !important;
    color: #E9CC7C !important;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #E9CC7C; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d0b25c;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #E9CC7C #f1f1f1;
}

.card {
    box-shadow: 0 8px 16px rgba(233, 204, 124, 0.2) !important; 
    border-radius: 14px;
    border: 1px solid rgba(233, 204, 124, 0.1);  
}

.taipy-selector .MuiChip-deleteIcon {
    color: black !important; 
}

/* body {
    background-color: #E9CC7C !important;
}

.container {
    background-color: #E9CC7C !important;
} */