.card-margin {
    margin-bottom: 30px;
}

b, strong {
    color: #E9CC7C !important;
}

.filter-button {
    background-color: #E9CC7C !important;
    border: none !important;
}

.education_area_filter .taipy-selector {
    width: 80% !important;
}

/* body {
    background-color: #E9CC7C !important;
}

.container {
    background-color: #E9CC7C !important;
} */